[Unit]
Description=mc-hibernate
After=network.target

[Service]
Type=simple
WorkingDirectory=/var/docker/minecraft/
ExecStart=/var/docker/minecraft/venv/bin/python3 /var/docker/minecraft/hibernate.py
RemainAfterExit=no
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
