---
user: username
user2: username2
mail: me@example.com
github_password: ""
hostname: server
ip_address: "192.168.x.y"
github_token: ""
ha_config_path: "/home/username/hass/config/"
remote_backup_location: "root@host:/var/backups"

password_mariadb: ""
password_mariadb_home_assistant_user: ""
password_mariadb_phpmyadmin_user: ""
mu_mail: mu@example.com
mu_mail_password: hello123
hass_url: hass.example.com
hass_token: ""
devopsbot_token: ""
monica_key: ""
monica_salt: ""
monica_db_password: ""
monica_url: "https://monica.example.com"


unattended_upgrades:
  security: true
  all: true

docker:
  repository: "deb [arch=amd64] https://download.docker.com/linux/ubuntu bionic stable"
